@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 224 70% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 8% 71%;
    --secondary-foreground: 0 0% 0%;
    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 10%;

    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --primary: 224 100% 65%;
    --primary-foreground: 0 0% 100%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 95%;

    --background: 0 0% 10%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply overflow-x-hidden bg-background text-foreground;
    scroll-behavior: smooth;
  }

  .nav-link::before {
    @apply absolute bottom-0 block h-0.5 w-0 bg-primary transition-[width] duration-300;
    content: "";
  }

  .nav-link.active::before {
    @apply left-0 w-1/2;
  }

  .nav-link:hover::before {
    @apply left-0 w-full;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  h1 {
    @apply mb-3 text-4xl text-primary;
  }

  h2 {
    @apply mb-2 text-3xl text-primary;
  }

  h3 {
    @apply mb-1 text-2xl text-foreground;
  }

  h4 {
    @apply text-xl text-foreground;
  }

  h5 {
    @apply text-lg text-foreground;
  }

  h6 {
    @apply text-foreground;
  }

  .legals {
    @apply mb-8 mt-32 flex flex-col items-center p-6;
  }

  .legals a {
    @apply text-blue-400 hover:underline;
  }

  code {
    @apply bg-muted text-foreground rounded-sm p-1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--primary) / 0.7);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}


iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}